.popular-movies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .popular-movies {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .popular-movies {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
